# Google OAuth Credentials
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
# App URL (e.g., https://ais-dev-2ynh3pgccsfraw3eiw4nzw-265788250335.europe-west1.run.app)
APP_URL=
# Session Secret
SESSION_SECRET=
